<h2>Vehículos Activos</h2>
<a asp-controller="Parqueo" asp-action="Panel" class="btn btn-outline-secondary mb-3">
    ← Volver al panel principal
</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Placa</th>
            <th>Tipo Tarifa</th>
            <th>Fecha Ingreso</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Placa</td>
                <td>@item.TipoTarifa</td>
                <td>@item.FechaIngreso.ToLocalTime()
            </tr>
        }
    </tbody>
</table>