<h2>Historial por Placa</h2>

<form asp-action="Historial" method="get">
    <div>
        <label>Placa:</label>
        <input name="placa" required />
        <button type="submit">Buscar</button>
    </div>
</form>

@if (ViewBag.Datos != null)
{
    <h3>Resultados</h3>
    <pre>@ViewBag.Datos</pre>
}