@{
    ViewData["Title"] = "Reporte Diario";
}

<h2>Reporte Diario</h2>

<form method="get">
    <div class="form-group">
        <label>Fecha</label>
        <input type="date" name="fecha" class="form-control" required />
    </div>
    <br />
    <button class="btn btn-primary">Consultar</button>
</form>

@if (ViewBag.Total != null)
{
    <div class="alert alert-success mt-3">
        Total recaudado: $ @ViewBag.Total
    </div>
}