<a asp-controller="Parqueo" asp-action="Panel" class="btn btn-outline-secondary mb-3">
    ← Volver al panel principal
</a>
<div class="container mt-4">

    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <h4>Registrar Salida</h4>
        </div>

        <div class="card-body">

            <form asp-action="Salida" method="post">

                <div class="mb-3">
                    <label class="form-label">Placa</label>
                    <input name="placa" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-success w-100">
                    Registrar Salida
                </button>

            </form>

            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-success mt-3">
                    @ViewBag.Mensaje
                </div>
            }

        </div>
    </div>

</div>