@{
    ViewData["Title"] = "Privacidad";
}

<h1>Política de Privacidad</h1>

<p>
    Sistema de administración de parqueadero.
    La información registrada corresponde a ingresos y salidas de vehículos.
</p>